<h1>All Landarks</h1>
    <% @landmarks.each do |landmark| %>
    <ul>
      <l1>
        <h3><%= landmark.name %></h3>
        <h2><%= landmark.year_completed %></h2>
      </l1>
      
     
      <% if landmark.figure %>
      <li><%= landmark.figure.name%></li>
      <% end %>
      <div><a href="/landmarks/<%=landmark.id%>/edit">Edit</a></div>
    </ul>
    <% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
